################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Number_System.sln
/Number_System.vbproj
/Number_System.vbproj
